.main-index {
  z-index: 100 !important;
}

.second-index {
  z-index: 1 !important;
}

.side-menu {
  position: fixed;
  background: #027F71 0% 0% no-repeat padding-box;
  width: 280px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.85;
  transition: width .2s ease-in;
  padding-left: 7px;
  padding-right: 8px;
}

.side-menu.inactive{
  width: 75px;
  opacity: 1;
}

.side-menu .main-menu {
  margin-top: 48px;
}

.side-menu .main-menu .sub-menu {
  color: #FFFFFF;
  /* background-color: red; */
  box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}

.side-menu .main-menu ul, .side-menu .main-menu li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  /* padding-top: 7px;
  padding-bottom: 7px; */
  /* margin-left: 0px; */
}

.side-menu .main-menu li :active {
  background-color: #FDC300;
}

.side-menu .main-menu .menu-item {
  color: #FFFFFF;
  /* background-color: red; */
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin-bottom: 19px;
  margin-left: 20px;
}

.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  /* width: 20px;
  height: 18px; */
  background: red;
  line-height: 40px;
  text-align: center;
}